:root {
  --svg-mail-envelope: path(
    "M22 6C22 4.9 21.1 4 20 4H4C2.9 4 2 4.9 2 6V18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6M20 6L12 11L4 6H20M20 18H4V8L12 13L20 8V18Z"
  );
}

.header {
  background: var(--background);
  max-width: 20.22em;
  max-height: 2em;
  margin: 1em auto 2em auto;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header--text {
  color: var(--white);
  font-size: 1.125rem;
}

.header--svg {
  width: 75%;
}

.header--svg path {
  d: var(--svg-mail-envelope);
  fill: var(--white);
}

.header--link {
  _background-color: var(--background);
  width: 2em;
  height: 2em;
  border: 1px solid var(--lgray);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
