.navbar {
  background: var(--background);
  height: 4.625em;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: space-around;
  align-items: center;
}

.navbar__link {
  color: var(--lgray);
  text-decoration: none;
  justify-self: center;
  align-self: center;
  padding: 14px 16px;
}

.navbar__link:hover {
  color: var(--white);
}

.navbar__link--border {
  border-radius: 50%;
  background: linear-gradient(#f62e8e, #ac1af0);
  display: flex;
  height: 4em;
  width: 4em;
}
