.postCard {
  max-width: 30em;
  margin: 1em auto;
  background-color: var(--dgray);
}

.profilepic {
  width: 3em;
  border-radius: 50%;
  margin: 0.5em auto;
}

.posthead {
  display: grid;

  grid-template-rows: 1.5em 1.5em;
  grid-template-columns: 3em 1.5em 1fr 1fr 1fr 1fr 1fr 1.3em;

  gap: 0px;
  height: 3.5em;
}

.profilepic {
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 3;
}
.username {
  color: var(--white);
  grid-row-start: 1;
  grid-column-start: 3;

  grid-row-end: 2;
  grid-column-end: 7;
}
.post_time {
  color: var(--lgray);
  grid-row-start: 2;
  grid-column-start: 3;

  grid-row-end: 3;
  grid-column-end: 6;
}
.posthead__useroption path {
  d: var(--dotsVertical3);
  fill: var(--lgray);
  max-width: 2em;

  grid-row-start: 1;
  grid-column-start: 8;

  grid-row-end: 3;
  grid-column-end: 9;
}

.postbody {
  color: var(--white);
  width: 95%;
  margin: 0.5em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.usercontent__post {
  max-width: 28em;
}

.postFooter {
  color: var(--white);
  height: 1.5em;
  display: flex;
  gap: 0.3em;
}

.divider {
  color: var(--lgray);
}
.postfooter__like {
  width: 1.5em;
}
.postfooter__like path {
  d: var(--like);
  fill: var(--lgray);
}

.postfooter__comment path {
  d: var(--comment);
  fill: var(--lgray);
}

.postfooter__share path {
  d: var(--share);
  fill: var(--lgray);
}

.postfooter__bookmark {
  align-self: flex-end;
  max-width: 1.5em;
  margin-left: 60%;
}
.postfooter__bookmark path {
  d: var(--bookmark);
  fill: var(--lgray);
}
