<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles.css" />

    <title>Alert</title>
  </head>
  <body>
    <main>
      <section class="summary summary__newest">
        <h2>today</h2>
        <a
          class="summary--alert summary--alert__like summary--alert__read"
          href=""
          aria-label="see the alert"
        >
          <div class="summary--alert--icon">
            <svg viewBox="0 0 24 24">
              <path fill="currentColor" />
            </svg>
          </div>
          <p>
            <span class="summary--alert--bold">Sofia, John and +19 others</span>
            liked your post.
          </p>
          <p class="summary--alert--date">10m ago</p>
        </a>
      </section>
    </main>
  </body>
</html>
