<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles.css" />

    <title>Profile</title>
  </head>

  <body>
    <header>
      <section class="profile-header profile-flex-column">
        <img
          class="profile-banner"
          src="../img/jene-stephaniuk--MCrF6hnojU-unsplash.jpg"
          alt="Profile Banner"
        />
        <nav class="profile-banner-nav profile-flex-column">
          <img src="../message.svg" alt="Message" />
          <img src="../bookmark.svg" alt="Bookmark" />
        </nav>
        <img
          class="profile-picture"
          src="../img/profile-pic.jpeg"
          alt="Profile Picture"
        />
        <h1>Alex Tsimikas</h1>
        <p>Brooklyn, NY</p>
        <p>Writer by Profession. Artist by Passion!</p>
      </section>
      <section class="follower">
        <p>2,467</p>
        <p>Followers</p>
        <p>1,589</p>
        <p>Following</p>
        <button>Edit Profile</button>
      </section>
    </header>
  </body>
</html>
